backend {{ target.name }}
    mode {{ haproxy_backend_mode }}
    balance {{ haproxy_backend_balance_method }}
    option forwardfor
{% if haproxy_backend_httpchk != '' %}
    option httpchk {{ haproxy_backend_httpchk }}
{% endif %}
    cookie SERVERID insert indirect
{{ '{{range service "'}}{{ target.name }}{{'"}}' }}
    {{ "server {{.Node}} {{.Address}}:{{.Port}} cookie {{.Node}} check{{end}}" }}


